@{
    ViewData["Title"] = "Trang chủ";
}

<div class="container-fluid px-4">
    <h1 class="mt-4" style="text-align:center; padding:10px 0">Mua sắm thật vui với TV Technology ❤️</h1>
    <img src="https://bizweb.dktcdn.net/100/360/794/themes/728558/assets/slider_2.jpg?1650881676842"
     style="width:100%;"
    />
</div>
